<h2>{{activityCtrl.activity.name}}</h2>

<div class="row">
	<div class="columns" ng-class="{'medium-8': activityCtrl.highlighted, 'medium-12': !activityCtrl.highlighted}">
		<div leaflet-map highlight="activityCtrl.highlighted.latlngs" polyline="activityCtrl.activity.map.polyline" map-id="activityCtrl.activity.id" size="450" />
	</div>
	<div class="medium-4 columns" ng-class="{'hide': !activityCtrl.highlighted}">
		<table>
			<tbody>
				<tr>
					<td>Segment:</td>
					<td>{{activityCtrl.highlighted.segment.name}}</td>
				</tr>
				<tr>
					<td>Moving Time:</td>
					<td>{{activityCtrl.highlighted.segment.temporal.moving | prettyTime}}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="medium-8 columns">
	<h3>Segments</h3>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Moving Time</th>
					<th>View on Map</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="seg in activityCtrl.segments track by seg.id">
					<td>{{seg.name}}</td>
					<td>{{seg.temporal.moving | prettyTime}}</td>
					<td><a ng-click="activityCtrl.segmentClick(seg)">View</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
