Viewing bike ride {{activityCtrl.activity.name}}
<div leaflet-map highlight="activityCtrl.highlighted" polyline="activityCtrl.activity.map.polyline" map-id="activityCtrl.activity.id" size="450" />

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Moving Time</th>
			<th>View on Map</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="seg in activityCtrl.segments track by seg.id">
			<td>{{seg.name}}</td>
			<td>{{seg.temporal.moving | prettyTime}}</td>
			<td><a ng-click="activityCtrl.segmentClick(seg)">View</a></td>
		</tr>
	</tbody>
</table>
